/* Body fonts and line height */
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.5em;
}

/* Title fonts */
h1{
  font-family: WindSong, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h4{
  font-family:Tajawal, Geneva, Tahoma;
  text-align: center;
}

/* Display proportions */
header{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* list direct parent decorations and propoertions  */
nav ul{
  justify-content: center;
  padding: 0;
  
  list-style: none;
}

/* anchor tag decorations and proportions*/
a{
  padding: 0.5em;
  display:block;
  text-align: center;

  text-decoration: none;
  color: black;
}

/* shopping cart decorations */
span{
  color: darkslategray;
  display: inline;
}

/* text distance from the edge of the screen */
main{
  padding-left: 1em;
}

/* clamp to make texts beautifully responsive */
p, h2{
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

/* image size and resposive properties */
img{
  max-width: 250px;
  height: initial;
  width: clamp(200px, 40%,  400px);
}

/* image and paragraph container */
.parent{
  display: flex;
  flex-wrap: wrap;
}

/* footer dimensions */
footer{
  text-align: center;
  padding-top: 90px;
}

/* desktop view mode */
@media screen and (min-width: 60em) {
  nav ul{
    display: flex;
    flex-direction: row; 
  }
  a{
    padding: 1em;
  }  
  a:hover{
  color: seashell;
  background-color: slategray;
  box-shadow: 0 -5px 0 darkgray inset, 500px 0 0 goldenrod inset;
  padding: 25px;
}
p, h2{
  max-width: 40ch;
  font-size: 20px;
  margin-left: 70px;
}
.parent{
  display: flex;
  justify-content: space-between;
}
img{
  max-width: 350px;
  margin-right: 50px;
}

}